body {  
    background-color: lightblue;  
}  
.navbarText{
    color: aliceblue;
}
.left{
    background-color: teal;
    
}
.outer{
    background-color:blue;
    width:40%;
    text-align:center;
    padding:7px;
    height:315px;
    margin-top: 80px;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 20px;
}

.inner{
    background-color:aqua;
    width:95%;
    height: 300px;
    text-align:center;
    padding:2px;
    margin:0 auto;
    border: 2px solid blue;
    border-radius: 40px;
}
