<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Inner Page - OnePage Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYjiVtF-E9MZCvpDCVfF3KIkcs3vs6iJwykw&usqp=CAU" rel="icon">
  <link href="static\assets\img\apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static\assets\vendor\aos\aos.css" rel="stylesheet">
  <link href="static\assets\vendor\bootstrap\css\bootstrap.min.css" rel="stylesheet">
  <link href="static\assets\vendor\bootstrap-icons\bootstrap-icons.css" rel="stylesheet">
  <link href="static\assets\vendor\boxicons\css\boxicons.min.css" rel="stylesheet">
  <link href="static\assets\vendor\glightbox\css\glightbox.min.css" rel="stylesheet">
  <link href="static\assets\vendor\remixicon\remixicon.css" rel="stylesheet">
  <link href="static\assets\vendor\swiper\swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static\assets\css\style.css" rel="stylesheet">
 
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = google.visualization.arrayToDataTable([
        ['Effort', 'Amount given'],
        ['AI',  {{ ai }}],
        ['HUMAN', {{ human }}]
      ]);

      var options = {
        pieHole: 0.5,
        pieSliceTextStyle: {
          color: 'black',
        },
        sliceVisibilityThreshold: .2,
        backgroundColor:{'stroke': '#990000'}
      };

      {% if ai is defined and human is defined %}
      var chart = new google.visualization.PieChart(document.getElementById('donut_single'));
      chart.draw(data, options);
      {% endif %}
    }
  </script>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">PaperDay</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Output</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Output</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
	{% if ai is defined and human is defined %}
      <div class="container">
        <div id="donut_single" style="width: 900px; height: 500px;"></div>
      </div>
	{% endif %}
    </section>

  </main><!-- End #main -->

  
    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>PaperDay</span></strong>. All Rights Reserved
        </div>
        
      </div>
      <div class="social-links text-center text-md-right pt-8 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script src="static\assets\vendor\purecounter\purecounter_vanilla.js"></script>
  <script src="static\assets\vendor\aos\aos.js"></script>
  <script src="static\assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static\assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static\assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static\assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static\assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static\assets\js\main.js"></script>

</body>

</html>
